.featured-item{
 background-image: linear-gradient(to right, #1515157b, #1515157b), url('../assets/home/featured.jpg');
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 width: 100%;
 height: 100vh;
}